@model ToDoPr.Models.Task
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.TaskName, "Введите имя задачи:")
            <p>@Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "inputDial" } })</p>
        </div>
        <div>
            @Html.LabelFor(model => model.PerformerName, "Введите исполнителя:")
            <p>@Html.EditorFor(model => model.PerformerName, new { htmlAttributes = new { @class = "inputDial" } })</p>
        </div>
        <center><p><input type="submit" class="btn btn-default" value="Добавить" /></p></center>
    }
</div>
